body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.content a {
  color: #0060a0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 96, 160, 0.2);
  text-decoration: none !important;
}

.content a:visited {
  color: #7090b0;
  border-bottom-color: rgba(112, 144, 176, 0.2);
}

.content a:hover {
  color: #d04000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
}

table {
  font-size: 100%;
}

tr {
  vertical-align: top;
}

td, th {
  text-align: left;
  padding-bottom: 6px;
}

th {
  border-bottom: 1px #cccccc solid;
}

p, ul, ol, blockquote {
  max-width: 48em;
  margin: 0 0 12px 0;
  padding: 0;
}

.navbar {
  margin: 0 -20px 20px -20px;
}

.nav {
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.table td {
    padding: 10px 0;
    border-top: none;
}