/** {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}*/

.jouele-option-progress-when-playing .jouele-progress-area {
  margin-top: -16px;
  top: 0;
  opacity: 0;
  -webkit-transition-property: opacity, margin-top;
  -moz-transition-property: opacity, margin-top;
  -o-transition-property: opacity, margin-top;
  transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.33s, 0.33s;
  -moz-transition-duration: 0.33s, 0.33s;
  -o-transition-duration: 0.33s, 0.33s;
  transition-duration: 0.33s, 0.33s;
  -webkit-transition-timing-function: ease-out, ease-out;
  -moz-transition-timing-function: ease-out, ease-out;
  -o-transition-timing-function: ease-out, ease-out;
  transition-timing-function: ease-out, ease-out;
}

.jouele-status-playing .jouele-progress-area {
  margin-top: 0;
  opacity: 1;
}


#short-search {
  margin-top: 7px;
  padding: 4px 5px;
  height: 15px;
  background-color: #fafafa;
}

#short-search:focus {
  background-color: #fff;
}

.playlist a {
  border: none !important;
}

.playlist li {
  margin-bottom: 10px;
}

.playlist .meta {
  color: #aaa;
  font-size: 11px;
}

body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.content a {
  color: #0060a0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 96, 160, 0.2);
  text-decoration: none !important;
}

.content a:visited {
  color: #7090b0;
  border-bottom-color: rgba(112, 144, 176, 0.2);
}

.content a:hover {
  color: #d04000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
}


table {
  font-size: 100%;
}

tr {
  vertical-align: top;
}

td, th {
  text-align: left;
  padding-bottom: 6px;
}

th {
  border-bottom: 1px #cccccc solid;
}

p, ul, ol, blockquote {
  max-width: 48em;
  margin: 0 0 12px 0;
  padding: 0;
}

/*ul, ol {
  padding: 0 0 0 3em;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 12px 0;
  text-indent: 0;
}
*/
/*p a, ul a, ol a {
  padding-top: .3em;
}

ol.flat, ul.flat {
  padding: 0;
}

blockquote {
  padding-left: 24px;
}

code, tt {
  font-family: "Consolas", "Menlo", "Courier New", monospace;
  font-weight: normal;
  color: #86503c;
}
*/
h1, h2, h3, h4, h5 {
  font-weight: 100;
}

/*h1 {
  font-size: 42px;
  margin: -0.1em 0 6px -0.04em;
  font-size: 48px;
  line-height: 1.2em;
}

h1.smaller {
  font-size: 24px;
  margin: 0 0 9px 0;
}

h2 {
  font-size: 20px;
  margin: 1.1em 0 0.375em -0.04em;
  color: #000;
}

h2.first {
  margin-top: -0.4em;
}

h2.u {
  border-bottom: 1px #e0e0e0 solid;
}

h3 {
  font-size: 100%;
  margin: 1.5em 0 0 0;
}

h3:first-child {
  margin: 0;
}

small {
  font-size: .7em;
}*/