<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}PiratePlay{% endblock %}</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
	<!--<link rel="stylesheet" type="text/css" href="/static/light.css">-->
	<link rel="stylesheet" type="text/css" href="/static/minimal.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/app.js"></script>
</head>
<body ng-app="app">
	<div class="container" id="pjax-container">
		<div class="navbar">

		  <div class="navbar-inner">
		    <a class="brand" href="/">pirateplay</a>

		    <!--<ul class="nav">-->
		      <!--<li>-->
		      	<!--<a href="{{ url_for('radio_list') }}">all Radio</a>-->
		      <!--</li>-->
		    <!--</ul>-->
		  </div>
		</div>
	
		<div class="content">
		{% block container %}{% endblock %}
		</div>
	</div>
</body>
</html>