<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}AFM{% endblock %}</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
	<!--<link rel="stylesheet" type="text/css" href="/static/light.css">-->
	<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
	<div class="container" id="pjax-container">
		<div class="navbar">
        <ul class="inline">
            <li><a href="/">AFM</a></li>
        </ul>
		</div>

		<div class="content">
		    {% block container %}{% endblock %}
		</div>
	</div>
</body>
</html>